<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Permanant Employee</title>
</head>
<body>
    <h1>Permanant Employee Details</h1>
    <br>
    <ul>
        <li><a href="/emp/pemp/E001">Employee 1</a></li>
        <li><a href="/emp/pemp/E002">Employee 2</a></li>
        <li><a href="/emp/pemp/E003">Employee 3</a></li>
        <li><a href="/emp/pemp/E004">Employee 4</a></li>
        <li><a href="/emp/pemp/E005">Employee 5</a></li>
    </ul>
</body>
</html>