<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wholesale Product</title>
</head>
<body>
    <h1>WholeSale Product</h1>
    <ul>
        <li><a href="/prd/wprd/WP001">Product 1</a></li>
        <li><a href="/prd/wprd/WP002">Product 2</a></li>
        <li><a href="/prd/wprd/WP003">Product 3</a></li>
        <li><a href="/prd/wprd/WP004">Product 4</a></li>
        <li><a href="/prd/wprd/WP005">Product 5</a></li>
    </ul>
    <br>
    <a href="/prd">Back</a>
</body>
</html>